src/main/resources/schemas/core-descriptor-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://jtheque.baptiste-wicht.com/schema/core-descriptor" version="1.0">

    <xs:element name="descriptor" type="descriptorType"/>

    <xs:complexType name="descriptorType">
        <xs:sequence>
            <xs:element type="versionType" name="version" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="versionType">
        <xs:sequence>
            <xs:element type="bundlesType" name="bundles" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name"/>
    </xs:complexType>

    <xs:complexType name="bundlesType">
        <xs:sequence>
            <xs:element type="bundleType" name="bundle" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name"/>
    </xs:complexType>

    <xs:complexType name="bundleType">
        <xs:sequence>
            <xs:element type="xs:string" name="name"/>
            <xs:element type="xs:anyURI" name="url"/>
        </xs:sequence>
    </xs:complexType>
    
</xs:schema>