src/main/resources/schemas/resource-descriptor-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://jtheque.baptiste-wicht.com/schema/module-descriptor" version="1.0">

    <xs:element name="descriptor" type="descriptorType"/>

    <xs:complexType name="descriptorType">
        <xs:sequence>
            <xs:element type="xs:string" name="id"/>
            <xs:element type="versionType" name="version" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="versionType">
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="xs:string" name="file"/>
        <xs:attribute type="xs:anyURI" name="url"/>
        <xs:attribute type="xs:boolean" name="library"/>
    </xs:complexType>

</xs:schema>